BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
ColumnLimit: 120
IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
UseTab: Never
PointerAlignment: Left
ReferenceAlignment: Left
BreakBeforeBraces: Attach
InsertBraces: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 1
EmptyLineBeforeAccessModifier: Always
IncludeBlocks: Preserve
SortIncludes: Never
SortUsingDeclarations: Never
LineEnding: DeriveLF
InsertNewlineAtEOF: true
